/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
  
}

p {
  color: yellow;
  margin: 5px;
  padding: 10px;

}
.inner-box{
  background-color: red;

}
#outer-box{
  border: 10px solid purple;
}
.white-text{
  color: white;
}